@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color:#505962;
}

.offset:before{
    display: block;
    content: "";
    height: 4rem;
    margin-top: -4rem;
}


/* Navigation */
.navbar{
    text-transform: uppercase;
    font-weight: 700;
    font-size:0.9rem;
    letter-spacing: 0.1rem;
    background-color: rgba(0, 0, 0, 0.6) !important;

}
.fab , .fas{
    color: #e49023;
}
.navbar-brand,.brand{
    height: 3.5rem;
    
    

}

.brand{
    border-radius: 50%;
    border:#ffa73d solid 0.2rem ;
    
}

.navbar-nav li{
    padding-right:0.7rem;
}

.navbar-dark .navbar-nav .nav-link{
    color: white;
    padding-top: 0.8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
    color:#ffa73d;
}



/* Landing page */

.image{
    border-radius: 50%;
    border: #ffa73d solid 0.3rem; 
   
    

}


.home-inner{
    background-image: url(img/computers.png);
}



.caption{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 30%;
    z-index: 1;
    color:white;
    text-transform: uppercase;
}

.name{
    color:#ffa73d ;
   
    

}

.caption h1{
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom:1rem ;
}

.caption h3{
    font-size:2rem;
    text-shadow: 0.1rem 0.1rem 0.5rem black;

}

.btn-lg{
    border-width: medium;
    border-radius: 0;
    padding: .6rem 1.3rem;
    

}

.btn-lg:hover{
    color:#ffa73d ;
}

.card{
    border: #ffa73d solid 0.1rem;
}


/* About me */
.narrow{
    width:75%;
    margin:1.5rem auto;
    padding-top:2rem ;
}

.narrow h1{
    font-size:2.4rem;
}

.btn-secondary{
    border-width: medium;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding:.6rem 1.2rem;
    color:white;
    margin:1rem;
    background-color:#ffa73d;
    border-color:#ffa73d;

}

.btn-secondary:hover{
    background-color:#c78300;
    border-color:#c78300;
}


/* skills */
.jumbotron{
    margin-bottom:0;
    padding: 2rem 0 3.5rem;
    border-radius: 0;

}

h3.heading{
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.9rem;


}
.heading-underline{
    width: 3rem;
    height: 0.2rem;
    background-color: #ffa73d ;
    margin: 0 auto 2rem;
}

.skill .fa{
    color: #ffa73d !important;
};

.skill h3{font-size: 1.3rem;
text-transform: uppercase;
padding-bottom:0.4rem ;}

.skill p{
    font-size: 1.1rem;

}


/* Clients */
.fixed{
    background-image: url(img/hand.jpg);
    z-index: -1;

}
.dark{
    background-color: rgba(0,0,0,0.75);
    color: white;
    padding: 7rem 2rem;

}
.fixed-background h3{
    margin-bottom:2rem;

}
.fixed-background p{
    margin-top: 1.5rem;

}




footer{
    background-color: #40473e;
    color: white;
    padding: 2rem 0 2rem;
    margin-top: 2rem;

}
footer img{
    height: 3rem;
    margin: 1.5rem 0;

}
footer a {
    color:white;
}


.pros{
    height: 10rem;
    width: 15rem;
    padding-bottom: 2rem;
    transition: 0.3s;
   
}
 .pros:hover{
    height: 15rem;
    width: 20rem;
 }

 .colo{
     color: white;

 }

 .colo:hover{
    transition: 0.3s;
   color:#ffa73d ;
 }

hr{
    height: 1rem;
    background-color:black;
    border:#ffa73d solid 0.2rem ;
}

