@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body{
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color:#505962;
}


/* Navigation */
.navbar{
    text-transform: uppercase;
    font-weight: 700;
    font-size:0.9rem;
    letter-spacing: 0.1rem;
    background-color: rgba(0, 0, 0, 0.6) !important;

}

.navbar-brand,.brand{
    height: 3.5rem;
    
    

}

.brand{
    border-radius: 50%;
    border:#ffa73d solid 0.2rem ;
    
}

.navbar-nav li{
    padding-right:0.7rem;
}

.navbar-dark .navbar-nav .nav-link{
    color: white;
    padding-top: 0.8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
    color:#ffa73d;
}



/* Landing page */

.image{
    border-radius: 50%;
    border: #ffa73d solid 0.3rem; 
   
    

}


.home-inner{
    background-image: url(img/computers.png);
}



.caption{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 30%;
    z-index: 1;
    color:white;
    text-transform: uppercase;
}

.name{
    color:#ffa73d ;
   
    

}

.caption h1{
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom:1rem ;
}

.caption h3{
    font-size:2rem;
    text-shadow: 0.1rem 0.1rem 0.5rem black;

}

.btn-lg{
    border-width: medium;
    border-radius: 0;
    padding: .6rem 1.3rem;
    

}

.btn-lg:hover{
    color:#ffa73d ;
}

.card{
    border: #ffa73d solid 0.1rem;
}
